// переменные
// colors
mainGrayColor = #f5f5f5
secondGray = #eaeaea

colorOptBtns = #000
backgroundOptBtns = #f5f5f5

ThemeBlue = #0a69c4
easyBlue = #eef3f6

ThemeRed = #ec521e
PinkColor = #f1d6d4

blackColor = #000000

// font-sizes
mainSize = 1em
secondSize = 0.85em

// top

// center

// bottom
sendTextBgSize = 1.25em

ScrollToBottomCirculParam = 2em