// разные сложные анимации
@import vars

.act_btn
  -webkit-animation: act_btn 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important
  animation: act_btn 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important

@-webkit-keyframes act_btn
  0% 
    color: colorOptBtns
    background: backgroundOptBtns

  50%
    color: colorOptBtns
    background: PinkColor

  100% 
    color: colorOptBtns
    background: backgroundOptBtns

  

@keyframes act_btn
  0% 
    color: colorOptBtns
    background: backgroundOptBtns
  
  50%
    color: colorOptBtns
    background: PinkColor

  100% 
    color: colorOptBtns
    background: backgroundOptBtns
