// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #master-container.red-phone-wrapper {
    .container_phone {
      .wrapper_phone {
        .phone_display_wrapper {
          .phone_display {
            .display_container {
              // header
              .chatHeaderWrapper {
                .chatTopHeaderContainer {
                  .chatTopHeaderBG {
                    // 
                  }
                  .chatTopHeader {
                    .topHeaderItem {
                      .topHeaderTime {
                        // font-size: 0.9em;
                      }
                      .topHeaderNetworkWrap__img {
                        // width: 50px;
                      }
                    }
                  }
                }
                .chatHeader {
                  .chatHeader__main {
                    .headAndDate {
                      margin-bottom: 5px;
                      .chatHeader__back_btn {
                        // width: 8px
                      }
                      .chatHeader__logo {
                        // width: 24px
                        // margin: 0px 5px 0px 10px;
                      }
                      .headAndDate__title_wrap {
                        .headAndDate__head {
                          
                        }
                        .headAndDate__arrow {
                          width 9px;
                        }
                        .headAndDate__sub_title {
                          font-size: 0.8em;
                          line-height: 0.8em;
                        }
                      }
                    }
                  }  
                }
                .app-header.user-options {
                  .user-options__options.user-control {
                    .user-control__item {
                      &.more-btn-wrap {}
                      .user-control__img {
                        &.more-btn {}
                        &.add-contact-btn {}
                        &.writing-btn {}
                      }
                    }
                    .user-control__item.more-btn-wrap {
                      .user-control__img.more-btn {}
                    }
                  }
                  .user-options__search {
                    .search-input {
                      // background-size: 0.9em;
                      // font-size: 0.9em;
                    }
                  }
                }
              }
                  
              .chatContent {
                .chatContentWrapper{}
                .chats-list {
                  .chat-item {
                    .chat__logo-and-heading {
                      .chat__avatar {}
                      .chat__heading {
                        .chat__title {
                          // font-size: 0.9em;
                        }
                        .chat__sub_title {
                          // font-size: 0.8em;
                        }
                      }
                    }
                    .chat__date {
                      .chat__date__time {
                        // font-size: 1em;
                      }
                    }
                  }
                }
              }
              .sections-app-wrapp {
                height: 3em;
                  .sections-app {
                    margin-top: 5px;
                    .sections-app__item {
                      .section_img {
                        // height: 20px;
                      }
                      .section_heading {
                        // font-size: 0.7em;
                      }
                    }
                  }
                }
              #chat-ui-input {
                .input-element{
                  .input-element-item{
                    &.attach{
                      width: 16px; height: 16px;
                      background: url('../../assets/img/icons/transparent/attach.svg');
                      background-size: 100%
                    }
                    &.micro{
                      width: 12px; height: 16px;
                      background: url('../../assets/img/icons/transparent/micro-svg.svg');
                      background-size: 100%
                    }
                    &.gallery{
                      width: 16px; height: 16px;
                      background: url('../../assets/img/icons_red_phone_transformer/gallery@2x.png');
                      background-size: 100%
                    }
                  }
                }
                .chatSend{
                  #terminal{
                    .chatSend__TextAndSend{
                      .sendText-wrap{
                        // background-size: sendTextBgSize = 1.1em;
                        #setter.sendText{
                          // background-size: sendTextBgSize;
                        }
                      }
                      #getter{
                        span#writer{

                        }
                        b#cursor.cursor{

                        }
                      }
                    }
                  }
                }
              }
              .bottom-ui {
                .bottom-ui__phone_line {
                  height: 0.2em;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

@media (min-width: 768px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

@media (min-width: 992px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}