@import vars

// top header
.chatTopHeaderContainer
  .chatTopHeader
    height: 60%
    display: flex
    justify-content: space-between
    align-items: center;
    .topHeaderItem.topHeaderTimeWrap
      .topHeaderTime
        // font-size: 10px
        font-size: 1.8vh;
        font-family: 'TT Norms Pro Regular'
        color: blackColor
        font-weight: 600;
    .topHeaderItem.topHeaderNetworkWrap
      //

// header
body
  .chatHeader 
    position: relative
    height: 50%
    display: flex
    justify-content: normal
    padding 0px
    border-radius: 4px
    .chatHeader__main
      .headAndDate
        .chatHeader__back_btn
          //
        .chatHeader__logo
          //
        .headAndDate__title_wrap
          .headAndDate__head
            //
          .headAndDate__arrow
            // margin-left: 5px;
            width: 0.8em
          .headAndDate__sub_title
            //


// center
body .chatContent 
  height: 100%
  overflow-y: auto

body .chatContent::-webkit-scrollbar 
  width: 3px

body .chatContent::-webkit-scrollbar-track 
  background: #fafafa

body .chatContent::-webkit-scrollbar-thumb 
  background: #3699f6

body .chatContent::-webkit-scrollbar-thumb:hover 
  background: #3699f6

.chatContent .chat-column 
  display: flex
  // margin-bottom: 8px
  padding: 0px
  // margin-left: -15px
  // margin-right: -5px

.chatContent .chat-column > .item > .chat-icon 
  width: 3vh
  height: 3vh
  line-height: 1vh
  border-radius: 50%
  text-align: center
  font-size: 1vh
  color: #fff
  font-weight: 600
  // margin-right: 10px
  // margin-top: 5px

.chatContent .chat-column > .item > .chat-message 
  color: blackColor
  font-size: 14px
  // padding: 10px 15px
  // border-radius: 10px
  line-height: 20px
  span.blueText
    color: #2196F3;
  span.boldText
    font-weight: bold

body .chatContent .company.chat-column > .item > .chat-message 
  // border-radius: 20px 3px 20px 20px
  background-color: #b9dff7

.chatContent .customer.chat-column > .item > .chat-message
  // border-radius: 3px 20px 20px 20px
  background-color: #deecf5

.chatContent .chat-column > .item > .message-date 
  font-size: 11px
  color: darken(mainGrayColor, 30)
  font-weight: 400
  margin-bottom: 3px

body .chatContent .chat-column.company > .item > .message-date 
  text-align: end
  width: 100%


body .chatContent .chat-column.customer > .item > .message-date 
  text-align: start
  width: 100%

body .chatContent .chat-column.company 
  flex-direction: row-reverse
  margin-left: 10%

body .chatContent .chat-column.company > .item > .chat-icon 
  // margin-right: 0
  // margin-left: 13px
  color: #3699f6;
        
body
  .chatContent.whiteBg
    background-color: #fff
  .chatContent.grayBg
    background-color: lightGrayColor
  .chatContent
    .chatContentWrapper.activeChat
      opacity: 1;
      transform: translateX(0px);
    .chatContentWrapper
      transition: all 0.5s;
      transition-duration: 0.5s;
      transition-delay: 0s;
      transition-timing-function: ease;
      // transition-property: transform;
      opacity: 0;
      transform: translateX(200px);
      .chat-column
        .item
          .chat-icon
            .chat__app-icon
              font-size: 2vh
              color: ThemeRed
              padding: 1px;

// footer
#chat-ui-input
  color: #aaa;
  width: 100%;
  // height: 3em;
  // min-height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #eef3f6;
  padding-bottom: 1%;
  .input-element{
    .input-element-item{
      &.attach{
        width: 100%
        height: 100%
      }
      &.micro{
        width: auto
      }
      &.gallery{
        width: 100%
        height: 100%
      }
    }
  }
  .chatSend {
    #terminal {
      height: 100%;
      width: 100%;
      .chatSend__TextAndSend {
        width: 100%;
        height: 100%;
        position relative
        margin: 0;
        .sendText-wrap {
          width: 100%;
          height: 100%;
          position: absolute;
          background: url('../../chats/assets/img/icons/transparent/emoji.svg') no-repeat scroll 98% 50% #ffffff;
          // background-size: sendTextBgSize
          border-radius: 3.3vh;
          #setter.sendText {
            width: 100%
            height: 100%;
            background: url('../../chats/assets/img/icons/transparent/emoji.svg') no-repeat scroll 98% 50% #ffffff;
            // background-size: sendTextBgSize
            box-shadow: 1px 1px 3px 0px darkenGrayColor
            padding: 0em leftOffsetInput 0em rightOffsetInput;
            font-size: 15px
            border-radius: 3.3vh
            border-radius: 20px;
          }
        }
        #getter {
          height: 100%
          width: calc(100% - 2em);
          display: flex;
          align-items: center;
          span#writer {
            height: 100%
            padding: 0em 0em 0em leftOffsetInput;
            font-size: 15px
            position: relative
          }
          b#cursor.cursor {
            height: 50%;
            font-size 12px
            width 3px
            max-width 3px
            text-indent -5px
            // height 1.2em
            // top: 0.7em
            position: relative
          }
        }
      }
      .sendText{
        resize: none
        display: block
        border: 0
        overflow: hidden
        color: darken(mainGrayColor, 60)
        font-family: 'TT Norms Pro Regular'
        caret-color: #000
        position: absolute;
        top: 0;
        left: 0;
        line-height: heightInput;
        padding-left: 3vh;
        padding-right: 3vh;
        width: calc(100% - 8.5vh);
      }
    }
  }

// footer
.bottom-ui{
  height: 1em;
  width: 100%;
  background: lightGrayColor;
  display: flex;
  justify-content: center;
  .bottom-ui__phone_line{
    height: 0.1em;
    background: #000;
    border-radius: 12px;
    margin: 5px 0px;
  }
}

// scroll
.simplebar-track.simplebar-vertical
  width 6px
// disable scroll by x
.simplebar-track.simplebar-horizontal {
  display: none;
}

#master-container
  display: flex
  justify-content: center
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  .container_phone
    .wrapper_phone
      .phone_display_wrapper
        .phone_display
          .display_container
            border: 3px solid #eaeaea;
