// переменные
mainGrayColor = #f5f5f5
darkenGrayColor = #5c5c5c
lightGrayColor = #eff3f6

colorOptBtns = #000
backgroundOptBtns = #deecf5
ThemeBlue = #0a69c4
lightBlue = #029fef
ThemeRed = #ec521e
PinkColor = #f1d6d4

blackColor = #000000

// font-sizes
mainSize = 1em
secondSize = 0.85em

// top

// center

// bottom
// sendTextBgSize = 1.25em

ScrollToBottomCirculParam = 2em

heightInput = 2em
leftOffsetInput = 1em
rightOffsetInput = 1em