doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title КУБ
    link(rel='icon', href='./chats/assets/img/LogoKub.png')
    // simplescroll
    noscript
      style.
        /**
        * Reinstate scrolling for non-JS clients
        */
        .simplebar-content-wrapper {overflow: auto;}
    style.
      body {
        font-family: 'Calibri';
        background-color: #fff;
        margin: 0;
      }
      img.exampleBlock__img {
        margin: 10px;
      }
      .redWebWrapper{
        visibility: hidden
      }
    // /simplescroll
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='../webpage/css/bootstrap.min.css' rel='stylesheet')
    link(href='../webpage/css/chats.css' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
    //- link(href='../webpage/chats/chat-style.css' rel='stylesheet')
    //- script(src='../webpage/chats/chats.js')
    //- script(src='../webpage/chats/chat-bundle.js')

  body
    .row.text-center.header.animate__animated.animate__fadeIn
      .col-12.logo
      h1.h1_style2 HR FAQ
    .container-fluid.main_faq.animate__animated.animate__fadeIn
      .row.first_row.p-0
        #faqRPtriggerElement7.col-6.leftcolumn.p-0
          .faq_icons.animate__animated.animate__pulse
            img.mx-auto(src='../webpage/img/faq_icon_list.png' alt='')
            span АХО
          .redWebWrapper
            #faqRedWebTriggerElement7
            
        #faqRPtriggerElement6.col-6.text-end.rightcolumn.p-0
          .faq_icons.animate__animated.animate__pulse
            img.mx-auto(src='../webpage/img/faq_icon_lens.png' alt='')
            span Оценка
          .redWebWrapper
            #faqRedWebTriggerElement6
      .row
        #faqRPtriggerElement3.col-6.leftcolumn.p-0
          .faq_icons.animate__animated.animate__pulse
            img.mx-auto(src='../webpage/img/faq_icon_baks.png' alt='')
            span Компенсации и льготы
          .redWebWrapper
            #faqRedWebTriggerElement3
        #faqRPtriggerElement1.col-6.text-end.rightcolumn.p-0
          .faq_icons.animate__animated.animate__pulse
            img.mx-auto(src='../webpage/img/faq_icon_cadr.png' alt='')
            span Кадровое делопроизводство
          .redWebWrapper
            #faqRedWebTriggerElement1
        .row.faq_bottom_icons.text-center.p-0
          #faqRPtriggerElement5.col-6.col-sm-3.p-0.faq_bottom_side
            .faq_icons.animate__animated.animate__pulse.float-start
              img.mx-auto(src='../webpage/img/faq_icon_head.png' alt='')
              span Обучение
            .redWebWrapper
              #faqRedWebTriggerElement5
          #faqRPtriggerElement8.col-6.col-sm-3.p-0
            .faq_icons.animate__animated.animate__pulse.mx-auto
              img.mx-auto(src='../webpage/img/faq_icon_tex.png' alt='')
              span Техподдержка
            .redWebWrapper
              #faqRedWebTriggerElement8
          #faqRPtriggerElement4.col-6.col-sm-3.p-0
            .faq_icons.animate__animated.animate__pulse.float-end
              img.mx-auto(src='../webpage/img/faq_icon_calendar.png' alt='')
              span ВК и организация мероприятий
            .redWebWrapper
              #faqRedWebTriggerElement4
          #faqRPtriggerElement2.col-6.col-sm-3.p-0.faq_bottom_side
            .faq_icons.animate__animated.animate__pulse.float-end
              img.mx-auto(src='../webpage/img/faq_icon_gear.png' alt='')
              span Подбор
            .redWebWrapper
              #faqRedWebTriggerElement2

    .faq_footer.p-0.animate__animated.animate__fadeIn
      .footer_emblem.float-end
        span
          | дополнительный
          br
          |  сервис по
          br
          |  неразрешенным
          br
          |  вопросам
      .windows.text-center.float-start
        h4 Active Directory
        span Получение данных о пользователе (БЮ, др.) для персонификации ответа


        
    script(type="text/javascript").
      //- анимация кругжков
      const intervalIdPulse = setInterval(() => {
        document.querySelectorAll('.animate__pulse').forEach((item) => {
          //- console.log('item', item)
          item.classList.remove('animate__pulse')
          setTimeout(() => {
            item.classList.add('animate__pulse')
          }, 1000)
        })
      }, 10000)

      // готова ли страница
      const ready = (callback) => {
        if (document.readyState != 'loading') callback()
        else document.addEventListener('DOMContentLoaded', callback)
      }

    script(src='./chats-configs/chats-faq.js')
    //- script(src='./chats-hr.js')
    
