// разные сложные анимации
@import vars

.targetElement
    opacity: 1
    -webkit-transition: opacity 0.4s
    transition: opacity 0.4s
.targetElement.hide
    opacity: 0

.container_app_descr
  opacity: 1
  -webkit-transition: opacity 0.4s
  transition: opacity 0.4s
.container_app_descr.hide
  opacity: 0

.scale-up-center 
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both


/* animation scale-up-center*/
@-webkit-keyframes scale-up-center 
  0% 
    -webkit-transform: scale(0.5)
    transform: scale(0.5)
  
  100%
    -webkit-transform: scale(1)
    transform: scale(1)
  

@keyframes scale-up-center 
  0%
    -webkit-transform: scale(0.5)
    transform: scale(0.5)
  
  100%
    -webkit-transform: scale(1)
    transform: scale(1)
  

.scale-down-center 
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
	animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both


/*animation scale-down-center*/
@-webkit-keyframes scale-down-center 
  0% 
    -webkit-transform: scale(1)
    transform: scale(1)
  
  100% 
    -webkit-transform: scale(0.5)
    transform: scale(0.5)
  

@keyframes scale-down-center 
  0% 
    -webkit-transform: scale(1)
    transform: scale(1)
  
  100% 
    -webkit-transform: scale(0.5)
    transform: scale(0.5)
  


    
.slide-right 
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both


/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right 
  0% 
    -webkit-transform: translateX(-100px)
    transform: translateX(-100px)
  
  100% 
    -webkit-transform: translateX(0)
    transform: translateX(0)
  

@keyframes slide-right 
  0% 
    -webkit-transform: translateX(-100px)
    transform: translateX(-100px)
  
  100% 
    -webkit-transform: translateX(0)
    transform: translateX(0)
  



.slide-left 
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both


/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left 
  0% 
    -webkit-transform: translateX(0)
    transform: translateX(0)
  
  100% 
    -webkit-transform: translateX(-100px)
    transform: translateX(-100px)
  

@keyframes slide-left 
  0% 
    -webkit-transform: translateX(0)
    transform: translateX(0)
  
  100% 
    -webkit-transform: translateX(-100px)
    transform: translateX(-100px)


.hide-show {
  -webkit-animation: hide-show 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
	animation: hide-show 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
}

@-webkit-keyframes hide-show {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes hide-show 
  0% 
    opacity: 0
  
  100% 
    opacity: 1

.act_btn
  -webkit-animation: act_btn 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important
  animation: act_btn 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important

@-webkit-keyframes act_btn
  0% 
    color: colorOptBtns
    background: backgroundOptBtns

  50%
    color: colorOptBtns
    background: #deecf5 //PinkColor

  100% 
    color: colorOptBtns
    background: backgroundOptBtns

  

@keyframes act_btn
  0% 
    color: colorOptBtns
    background: backgroundOptBtns
  
  50%
    color: colorOptBtns
    background: #deecf5 //PinkColor

  100% 
    color: colorOptBtns
    background: backgroundOptBtns
